{% extends "layouts/layout.html" %}

{% block title %}
    Makaleler
{% endblock %}

{% block body %}
    <h3>Makaleler</h3>
    <hr>
    {% if articles %}
        {% for article in articles %}

            <div class="card mb-4">
            <div class="card-body">
             <img style="width: 250px; margin-right: 15px;" class="card-img-top float-left" src="{{ article.article_image.url }}" alt="{{ article.title }}">
              <h2 class="card-title">{{ article.title }}</h2>
              <p class="card-text">{{ article.content|truncatechars:250|safe|striptags }}</p>
              <a href="{% url "article:detailArticle" article.id %}" class="btn btn-primary float-right">Devamını oku &rarr;</a>
            </div>
            <div class="card-footer text-muted">
                <b>Tarih:</b> {{ article.created_date }}  <b>Yazar:</b> {{ article.author }}
            </div>
          </div>

        {% endfor %}

    {% else %}
        {% if request.path in "/articles/search/" %}
            <div class="alert alert-warning">Aradığın makale bulunmuyor !</div>
            {% else %}
            <div class="alert alert-warning">Bu blog da makale bulunmuyor !</div>
        {% endif %}
    {% endif %}
{% endblock %}